<ion-view hide-nav-bar="true" view-title="Stranded">
  <ion-content class="padding page-home">
    <div map-lazy-load="http://maps.google.com/maps/api/js">
      <map zoom-to-include-markers="auto" center="37.7699298, -122.4469157" style="height:90%" >
        <shape name="polyline" 
          path="{{paths}}"
          geodesic="true"
          stroke-color="#FF0000"
          stroke-opacity="1.0"
          stroke-weight="2">
        </shape>
        <div ng-repeat="location in locations">
          <marker position="{{location}}">
          </marker>
        </div>
      </map>
    </div>
  </ion-content>
</ion-view>
