<ion-view>
  <ion-nav-title>{{currentBottle ? 'Add reply in the bottle!' : 'Fish for a bottle!'}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-light" ng-click="showTrail()">
      <i class="fa fa-paper-plane"></i> View Trail
    </button>
  </ion-nav-buttons>
  <ion-content class="padding page-grab">
    <div ng-if="!currentBottle">
      <a class="button button-block button-positive button-normal" data-ng-click="grabBottle()">
        GRAB!
      </a>
    </div>
    <div ng-if="currentBottle" class="list list-inset">
      <div class="card">
        <div class="item item-divider">
          {{currentBottle.author}}
        </div>
        <div class="item item-text-wrap">
          {{currentBottle.message}}
        </div>
      </div>
      <div class="card" data-ng-repeat="message in currentBottle.messages">
        <div class="item item-divider">
          {{message.author}}
        </div>
        <div class="item item-text-wrap">
          {{message.message}}
        </div>
      </div>
      <form name="replyBottleForm" data-ng-submit="replyBottle(replyBottleForm)" novalidate>
        <label class="item item-input" data-ng-class="{ 'has-error' : replyBottleForm.message.$invalid}">
          <textarea name="message" placeholder="what will you say today?" ng-model="newMessageData.message" required></textarea>
        </label>
        <div class="form-errors" data-ng-show="replyBottleForm.message.$error && replyBottleForm.message.$touched || replyBottleForm.$submitted"
             data-ng-messages="replyBottleForm.message.$error">
          <div data-ng-messages-include="templates/form-errors.html"></div>
        </div>
        <label class="item item-input" data-ng-class="{ 'has-error' : replyBottleForm.author.$invalid}">
          <input name="author" type="text" placeholder="your creative name" ng-model="newMessageData.author" required>
        </label>
        <div class="form-errors" data-ng-show="replyBottleForm.author.$error && replyBottleForm.author.$touched || replyBottleForm.$submitted"
             data-ng-messages="replyBottleForm.author.$error">
          <div data-ng-messages-include="templates/form-errors.html"></div>
        </div>
        <ion-toggle ng-model="locationEnable" toggle-class="toggle-calm">Send location (for fun!)</ion-toggle>
        <button class="button button-block button-positive button-normal" type="submit">Add reply!</button>
      </form>
      <a class="button button-block button-positive button-normal" data-ng-click="releaseBottle()">
        Return bottle to sea without reply
      </a>
    </div>
  </ion-content>
</ion-view>
