<ion-view hide-nav-bar="true" view-title="Stranded">
  <ion-content class="padding page-home">
    <div class="background-sprite">
      <div id="cloud-1">
        <img src="/images/home/cloud.svg" />
      </div>

      <div id="cloud-2">
        <img src="/images/home/cloud.svg" />
      </div>
    </div>

    <div class="toolbox-section" ng-class="{false: 'hidden'}[pageLoaded]">
      <div class="round-buttons row" ng-class="{true: 'animated', false: 'hidden'}[toolBoxAnimated]">
        <div class="col" id="fish-button">
          <a href="#/grab">
            <img src="/images/home/fish.svg" />
          </a>
          <div class="button-text">
            Fish
          </div>
        </div>

        <div class="col" id="write-button">
          <a href="#/throw">
            <img src="/images/home/write.svg" />
          </a>
          <div class="button-text">
            Write
          </div>
        </div>

        <div class="col" id="track-button">
          <a href="#/track">
            <img src="/images/home/track.svg" />
          </a>
          <div class="button-text">
            Track
          </div>
        </div>
      </div>
        
      <div class="toolbox">
        <div class="toolbox-body">
          
          <div class="row func-buttons">
            <div class="col">
              <i class="fa fa-question" id="button-help" data-ng-click="openModal()"></i>
            </div>

            <div class="col">
              <i class="fa fa-power-off" id="button-logout" data-ng-click="logout()"></i>
            </div>
          </div>

          <img src="/images/home/box.svg" />
        </div>

        <div class="toolbox-cover" ng-class="{true: 'hidden', false: 'animated'}[toolBoxAnimated]">
          <img src="/images/home/box-cover.svg" />
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<script id="help-modal.html" type="text/ng-template">
  <ion-modal-view style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">
    <ion-header-bar>
      <h1 class="title">Stranded Tutorial</h1>
    </ion-header-bar>
    <ion-content>
      <div class="card">
        <div class="item">
          <b>Fish</b>
        </div>
        <div class="item item-text-wrap">
          Fishes for a random bottle from the sea! You can add on your own message to the bottle for someone else in the world to see! Add in your geolocation data to help indicate where the bottle has travelled! Also give the messages you like stars!
        </div>
      </div>
      <div class="card">
        <div class="item">
          <b>Write</b>
        </div>
        <div class="item item-text-wrap">
          Write a message and toss a new bottle into the sea!
        </div>
      </div>
      <div class="card">
        <div class="item">
          <b>Track</b>
        </div>
        <div class="item item-text-wrap">
          Track the bottles you have contributed to and see what other people are adding to it! You may not reply but you can see how many stars your messages earned!
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
