<ion-header-bar class="bar-stable">
  <h1 class="title">Stranded</h1>
</ion-header-bar>

<ion-view view-title="Stranded">
  <ion-content class="padding page-home">
    <div class="background-sprite">
      <div id="cloud-1">
        <img src="/images/home/cloud.svg" />
      </div>

      <div id="cloud-2">
        <img src="/images/home/cloud.svg" />
      </div>
    </div>

    <div class="toolbox-section">
      <div class="round-buttons">
      </div>

      <div class="toolbox">
        <div class="toolbox-body">
          <img src="/images/home/box.svg" />
        </div>

        <div class="toolbox-cover" ng-class="{true: 'hidden', false: 'animated'}[toolBoxAnimated]">
          <img src="/images/home/box-cover.svg" />
        </div>
      </div>

    </div>
    <!-- <div class="section-btn">
      <a class="button button-block button-positive button-normal" href="#/app/grab">
        <div class="row">
          <div class="col col-25">
          <img src="/images/bottle.png" height="70px">
          </div>
          <div class="col btn-text-wrapper">
            <div class="btn-text">
              Grab a bottle
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="section-btn">
      <a class="button button-block button-positive button-normal" href="#/app/throw">
        <div class="row">
          <div class="col col-25">
          <img src="/images/bottle.png" height="70px">
          </div>
          <div class="col btn-text-wrapper">
            <div class="btn-text">
              Write message
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="section-btn">
      <a class="button button-block button-positive button-normal" href="#/app/message">
        <div class="row">
          <div class="col col-25">
          <img src="/images/bottle.png" height="70px">
          </div>
          <div class="col btn-text-wrapper">
            <div class="btn-text">
              Mailbox
            </div>
          </div>
        </div>
      </a>
    </div> -->
  </ion-content>
</ion-view>
