<ion-view view-title="Stranded">
  <!-- <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons> -->
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="doSomething()">
      New Bottle
    </button>
  </ion-nav-buttons>
  <ion-content class="padding page-home">
    <div class="section-btn">
      <button class="button button-block button-positive button-normal">
        <div class="row">
          <div class="col col-25">
          <img src="/images/bottle.png" height="70px">
          </div>
          <div class="col btn-text-wrapper">
            <div class="btn-text">
              Grab a bottle
            </div>
          </div>
        </div>
      </button>
    </div>
    <div class="section-btn">
      <button class="button button-block button-positive button-normal">
        <div class="row">
          <div class="col col-25">
          <img src="/images/bottle.png" height="70px">
          </div>
          <div class="col btn-text-wrapper">
            <div class="btn-text">
              Write message
            </div>
          </div>
        </div>
      </button>
    </div>
    <div class="section-btn">
      <button class="button button-block button-positive button-normal">
        <div class="row">
          <div class="col col-25">
          <img src="/images/bottle.png" height="70px">
          </div>
          <div class="col btn-text-wrapper">
            <div class="btn-text">
              Mailbox
            </div>
          </div>
        </div>
      </button>
    </div>
  </ion-content>
</ion-view>
