<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="page-landing">
      <div class="wavy-background"></div>
      <div class="title">
        Stranded
      </div>
      <div class="login-btn">
        <a class="button button-login" href="#/login">Let's get stranded!</a>
      </div>
      <div class="desktop-body">
        <div class="bottle">
          <img src="/images/bottle.png" />
        </div>
      </div>
      <!-- <div class="animated-background">
        <div id="background-sprite">
        </div>
      </div> -->
      <div class="animated-wave">
        <div class="wave" id="wave-3">
        </div>
        <div class="bottle">
        </div>
        <div class="wave" id="wave-2">
        </div>
        <div class="wave" id="wave-1">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
