<ion-view view-title="Sign Up">
  <ion-header-bar>
    <h1 class="title">Stranded</h1>
  </ion-header-bar>
  <ion-content class="padding page-signup">
    <form ng-submit="doSignUp()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" placeholder="your email address" ng-model="signUpData.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="your password" ng-model="signUpData.password">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="your password again" ng-model="signUpData.password_confirmation">
        </label>
      </div>
      <button class="button button-block button-positive button-normal" type="submit">Sign Up!</button>
    </form>
  </ion-content>
</ion-view>
