<ion-view view-title="Track my messages!">
  <ion-content class="padding page-track">
    <div class="bottle" data-ng-repeat="bottle in myBottles" ng-click="trackBottle(bottle.id)">
      <div class="bottle-back">
      </div>

      <div class="bottle-body">
        <div>
          <div class="row">
            <div class="col-80 author">
              {{bottle.author}}
            </div>
            <div class="col-20 bottle-likes">
              <i class="fa fa-star bright-marker"></i> {{ bottle.stars }}
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-90">
              <div class="message">
                {{bottle.message}}
              </div>
            </div>
          </div>
      </div>

      <div class="bottle-front">
      </div>
    </div>
    <div data-ng-if="!myBottles">
      <p>You need an internet connection to retrieve the tracked bottles for the first time!</p>
    </div>
  </ion-content>
</ion-view>