@import 'color_constant';

@keyframes move-cover {
  10% {
    transform: translateY(0px);
    opacity: 1;
  }

  80% {
    transform: translateY(-120px);
    opacity: 1; 
  }

  100% {
    transform: translateY(-120px);
    opacity: 0;
  }
}

@keyframes move-left-button {
  0% {
    transform: translate(170px, 237px) scale(0.1);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes move-center-button {
  0% {
    transform: translate(0px, 237px) scale(0.1);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes move-right-button {
  0% {
    transform: translate(-170px, 237px) scale(0.1);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes icon-background {
  0% {
    background-color: yellow;
  }

  100% {
    background-color: #FFCA00;
  }
}

.page-home {
  background-color: $theme-color;
  overflow: hidden;

  .hidden {
    display: none;
  }

  .scroll {
    height: calc(100vh - 58px);
    padding-bottom: 0px;
    overflow: hidden;
  }

  .background-sprite {
    & > div {
      position: absolute;
    }

    #cloud-1 {
      top: 0px;
      right: 20px;
    }

    #cloud-2 {
      top: 60px;
      left: 0px;
    }
  }

  .toolbox-section {
    .round-buttons.animated {
      text-align: center;
      z-index: 3;
      bottom: 251px;
      position: absolute;

      a {
        width: inherit;

        img {
          width: inherit;
          max-width: 185px;
        }
      }

      #fish-button {
        animation: move-left-button .5s cubic-bezier(0.88, 0.8, 0.6, 1.49);
      }

      #write-button {
        animation: move-center-button .5s cubic-bezier(0.88, 0.8, 0.6, 1.49);
      }

      #track-button {
        animation: move-right-button .5s cubic-bezier(0.88, 0.8, 0.6, 1.49); 
      }

      .button-text {
        animation: text-animation 1s linear;
      }
    }

    .toolbox {
      & > div {
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      .func-buttons {
        margin-top: 120px;
        position: absolute;

        i {
          cursor: pointer;
          animation: icon-background 1s linear infinite alternate;
          border-radius: 100px;
          color: #F39C12;
        }

        #button-help {
          padding: 7px 10px 7px 10px;
          float: right;
          margin-right: 45px;
        }

        #button-logout {
          padding: 7px 7px 7px 9px;
          float: left;
          margin-left: 45px;
        }
      }

      .toolbox-body {
        position: absolute;
        bottom: 10px;
      }

      .toolbox-cover.animated {
        position: absolute;
        bottom: 97px;
        animation: move-cover 1.5s linear forwards;
      }
    }
  }
}