@import 'color_constant';

.page-home {
  background-color: $theme-color;
  overflow: hidden;

  .scroll {
    height: calc(100vh - 104px);
    padding-bottom: 0px;
    overflow: hidden;
  }

  // .section-btn {
  //   margin: 40px 0;

  //   a {
  //     height: 100px;

  //     .col {
  //       display: flex;
  //     }

  //     .btn-text-wrapper {
  //       display: flex;
  //       align-items: center;
  //       text-align: center;
  //       margin-left: 30px;

  //       .btn-text {
  //         margin-top: -5px;
  //         font-size: 26px;
  //         font-weight: 900;
  //       }
  //     }
  //   }
  // }

  .background-sprite {
    & > div {
      position: absolute;
    }

    #cloud-1 {
      top: 0px;
      right: 20px;
    }

    #cloud-2 {
      top: 60px;
      left: 0px;
    }
  }

  .toolbox-section {
    .toolbox {
      & > div {
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      .toolbox-body {
        position: absolute;
        bottom: 10px;
      }

      .toolbox-cover {
        position: absolute;
        bottom: 97px;
      }
    }
  }
}