@keyframes sprite {
  100% {
   background-position: -100%;
  }
}

.page-landing {
  min-height: 100vh;

  .title {
    text-align: center;
    font-size: 75px;
    padding-top: 90px;
  }

  .animated-background {
    z-index: -1;
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0px;

    &:after {
      padding-top: 106.5%;
      display: block;
      content: '';
    }

    #background-sprite {
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: url("/images/sprite.png");
      background-size: cover;
      animation: sprite .1s steps(47) infinite;
    }
  }
}
