@import 'color_constant';

@keyframes sprite {
  100% {
   background-position: -100%;
  }
}

@keyframes wave {
  100% {
    // some hack to avoid flicking
    background-position-x: -1000%;
  }
}

@keyframes bottle-x {
  100% {
    background-position-x: 150%;
  }
}

@keyframes bottle-y {
  100% {
    background-position-y: 30px;
  }
}

.page-landing {
  background-color: $theme-color; 
  min-height: 100vh;
  overflow: hidden;

  .wavy-background {
    display: none;
    position: absolute;
    height: 450px;
    width: calc(100vw + 60px);
    background-image: url("/images/landing/wave.svg");
    background-position-y: -140px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .title {
    position: relative;
    text-align: center;
    font-size: 75px;
    padding-top: 90px;
    z-index: 2;
  }

  .slogan {
    height: 40px;
    text-align: center;
    margin-top: 20px;
    z-index: 2;
    position: relative;
    opacity: 1;
    transition: all .3s ease-in-out;
  }

  .hidden-slogan {
    opacity: 0;
  }

  .login-btn {
    text-align: center;
    margin-top: 40px;

    .button-login {
      z-index: 2;
      background-color: $cork-color;
      color: $theme-color;
    }
  }

  .desktop-body {
    display: none;
  }

  // .animated-background {
  //   width: 100%;
  //   display: inline-block;
  //   position: absolute;
  //   bottom: 0px;

  //   &:after {
  //     padding-top: 106.5%;
  //     display: block;
  //     content: '';
  //   }

  //   #background-sprite {
  //     margin: auto;
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     right: 0;
  //     left: 0;
  //     background-image: url("/images/landing/sprite.png");
  //     background-size: cover;
  //     animation: sprite 3s steps(47) infinite;
  //   }
  // }

  .animated-wave {
    .wave {
      width: 100%;
      height: 108px;
    }

    .bottle {
      width: 150%;
      margin-left: -50%;
      height: 200px;
      background: url("/images/landing/bottle.svg") no-repeat;
      animation: bottle-x 11.5s linear infinite, bottle-y 1s cubic-bezier(0.45, 0.02, 0.58, 1) infinite alternate;
      bottom: 30px;
      position: absolute;
    }

    #wave-1 {
      background: url("/images/landing/wave1.svg") repeat;
      animation: wave 50s linear infinite;
      bottom: 0px;
      position: absolute;
    }

    #wave-2 {
      background: url("/images/landing/wave2.svg") repeat;
      animation: wave 80s linear infinite;
      bottom: 50px;
      position: absolute;
    }

    #wave-3 {
      background: url("/images/landing/wave3.svg") repeat;
      animation: wave 110s linear infinite;
      bottom: 100px;
      position: absolute;
    }
  }

  @media (min-width: 769px) {
    overflow: auto;

    .desktop-body {
      display: block;
      text-align: center;
      margin-top: 240px;

      img {
        width: 300px;
        transform: rotate(58deg);
      }
    }

    .wavy-background {
      display: block;
    }

    // .animated-background {
    //   display: none;
    // }

    .animated-wave {
      display: none;
    }
  }
}
