// Your application styles go here
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300italic,100,100italic,300,400italic,500italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import 'color_constant';

*:not(i) {
  font-family: 'Roboto', sans-serif;
}

$common-border-radius: 10px;

.button {
  border-radius: $common-border-radius;
  border: 0px;
}

.item-input {
  border-radius: $common-border-radius !important; // use important to override more specific rule
  border: 0px;
}

.button-normal {
  background-color: $theme-color-blue !important;
}

.bar {
  background-color: $theme-color-blue !important;
  .title {
    color: white !important;
  }

  i, i:before {
    font-size: 14px !important;
  }

  button {
    font-weight: 400 !important;
  }
}

.message-textarea {
  border: 0px;
  resize: none;
  height: 30vh;
}

.message-author-signature {
  font-family: 'Indie Flower', cursive;
}

// http://codepen.io/ionic/pen/pEter
.bar.bar-offline {
  display: block;
  height: 24px;

  /* starts right below a normal header */
  top: 44px;

  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 24px;

  /* transition 'sliding down' (check below)*/
  -webkit-transition: 200ms all;
}

/*
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.has-header {
  transition: 200ms top;
  -webkit-transition: 200ms top;
}
.has-header.is-offline {
  /* 44px (header) + 24px */
  top: 68px;
}

/* make loading bar slide up/down */
.bar-offline.ng-enter,
.bar-offline.ng-leave.ng-leave-active {
  height: 0;
  border-width: 0px;
}
.bar-offline.ng-enter.ng-enter-active,
.bar-offline.ng-leave {
  height: 24px;
  border-width: 1px;
}